body {
    margin: 0%;
}

#topbar {
    display: flex;
    padding: 0px 0px;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px black;
    margin-bottom: 2px;
}

.logo {
    width: 100px;
    height: 100px;
}

#left-menu {
    display: flex;
    width: 60%;
    margin-right: 170px;
    padding: 10px 0px;
}

#sch-logo {
    width: 120px;
    height: 100px;
    padding-left: 20px;
}

#right-menu {
    display: flex;
    width: 25%;
    font-size: large;
    justify-content: space-around;
    padding: 10px 0px;
    color: white;
    align-items: center;
}

#right-menu a {
    text-decoration: none;
    color: black;
}

#icons-wrap {
    width: 150px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
    height: 300px;
    position: absolute;
    right: 100px;
    top: 70px;
    border-radius: 10px;
    background-color: white;
    display: none;
}

#contact-wrap {
    color: black;
    cursor: pointer;
}

#contact-wrap:hover #icons-wrap {
    display: block;
}

.icons {
    width: 50px;
    height: 50px;
    display: block;
    padding-bottom: 20px;
    padding-top: 30px;
    margin: 0 auto;
}

#get-started {
    background-image: url(/https://peacockplume.fr/file/arnaud-jaegers-ibwjsmobnnu-unsplashjpg-0);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

#btn-wrap {
    width: 120px;
    margin: 0 auto;
    position: relative;
    bottom: -350px;
}

#btn-wrap a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#get-btn {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 8px;
}

#v-srv {
    text-align: center;
    height: 250px;
    background-color: white;
}

#tinz {
    width: 80%;
    margin: 0px auto;
    justify-content: space-between;
}

#v-srv h1 {
    font-size: 24px;
}

.tin {
    margin: 10px;
    font-size: larger;
    font-weight: 700;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: top;
    background-color: lightgray;
    padding-bottom: 50px;
    padding-top: 10px;
}

footer li,
footer p {
    font-size: 18px;
}

#footer li {
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: black;
}

#beneath {
    text-align: center;
    color: white;
    background-color: black;
    padding-bottom: 5px;
}

@media screen and (max-width: 700px) {
    #left-menu {
        width: 50%;
        margin-right: 50px;
        box-sizing: border-box;
    }
    #sch-logo {
        width: 50px;
        height: 50px;
        padding-left: 20px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    #right-menu {
        font-size: small;
        width: 40%;
    }
    #icons-wrap {
        width: 80px;
        height: 150px;
        position: absolute;
        right: 10px;
        top: 50px;
    }
    #contact-wrap:enabled #icons-wrap {
        display: block;
    }
    .icons {
        width: 30px;
        height: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #get-started {
        background-size: cover;
        height: 240px;
    }
    #get-btn {
        height: 25px;
    }
    #btn-wrap {
        position: relative;
        bottom: -200px;
        width: 100px;
    }
    #btn-wrap a {
        text-decoration: none;
        color: black;
        font-size: 12px;
    }
    #tinz {
        width: 98%;
        margin: 0px auto;
        font-size: 14px;
    }
    #v-srv {
        height: 180px;
    }
    #v-srv h1 {
        font-size: 18px;
    }
    .tin {
        margin-right: 10px;
        font-size: 14px;
        font-weight: 600;
    }
    #footer {
        align-items: top;
        padding-bottom: 20px;
        padding-top: 10px
    }
    footer li,
    footer p {
        font-size: 14px;
    }
    #footer li {
        padding-bottom: 5px;
    }
}
